body {
    font-family: 'Poppins', sans-serif;
    margin: 0 1rem;
    background-color: #5CDB95;
}
nav {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2rem;
    width: inherit;
}

nav .links {
    display: flex;
    gap: 1.5rem;
}
nav .links a{
    text-decoration: none;
    color: #05386B;
    padding: 0.25rem;
}
nav .links a:hover {
    outline: solid #05386B;
}
main {
    min-height: 81vh;
    padding-bottom: 0.5rem;
    margin: 1rem 0;
}
main h1 {
    text-align: center;
    color: #edf5e1;
}
footer {
    margin: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: #05386B ;
    width: inherit;
}
main ul {
    list-style-type: none;
    padding-right: 2.5rem;
}
main ul a {
    text-decoration:  none;
}
main li h3{
    margin-top: 0;
    color: #05386B;
}
#li-main {
    margin: auto 2.5rem;
    list-style-type: none;
}
main ul li {
    border-top: solid #379683;
    
}
main ul li h3 {
    margin-top: 0;
    color: #05386B;
}
#purchaser {
    color: #05386B;
}
@media screen and (min-width: 768px) {
    body {
        width: 768px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    main {
        width: inherit;
    }
    nav {
       width: 690px;
    }
}